head
  meta(charset='utf-8')
  title Form 
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    
    .modal-dialog
        .modal-content
          
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Formulario
         
          .modal-body
            
            form(role='form' method='GET' action='#')
              div.form-group
                label(for='name') Nombre:
                input#name.form-control(type='text', placeholder='name' name='name')
              div.form-group
                label(for='price') Precio:
                input#price.form-control(type="text")(type='text', placeholder='$' name='Precio')
              button.btn.btn-primary(type="submit", name="asdf") Agregar